<h1>All Products</h1>

<table border="1" cellspacing="0" cellpadding="8">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.title, product_path(product) %></td> <%# created a clickable link to show individual pages %>
        <td><%= product.description %></td>
        <td>$<%= product.price %></td>
        <td><%= product.stock_quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
